<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, 
    initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Blog</title>
</head>
<body>
    <div>
        <a class="btn btn-primary" href="./../user/logout">LogOut</a>
    </div>
    <div class = "container">
        <h1 class="mb-4">Blog Articles</h1>
        <a href ="./../articles/new" class="btn btn-success">New Article</a>
        
        <% articles.forEach(article => { %>
            <div class="card mt-4">
                <div class="card-body">
                    <h4 class ="card-title"><%= article.title %></h4>
                    <div class="card-subtitle text-muted mb-2">
                        <%=  article.createdAt.toLocaleDateString() %>
                        <div>
                            No of times viewed : <%= article.noOfViews %>
                        </div>
                        <div class="card-text mb-2">
                            <%= article.description %>
                        </div>
                    </div>
                        <a href="./../articles/<%= article.slug %>"
                            class="btn btn-primary">
                            Read More
                        </a>
                    
                        <!---edit button-->
                        <a href="./../articles/edit/<%= article.id %>" class="btn btn-info">
                            Edit
                        </a>

                        <!---delete button-->
                        <form action="./../articles/<%= article.id %>?_method=DELETE"
                        method = "POST" class="d-inline">
                            <button type="Submit" class="btn btn-danger">DELETE</button>
                        </form>
                    
                    </div>
                </div>
        <% }) %>
    </div>
</body>
</html>